---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Zrayouil Karima" description="About Zrayouil Karima">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Merci d'être passé(e) ici. Lisez ci-dessous pour en savoir plus sur moi-même et mon parcours."
      >
        <img width="1553" height="873" src="/assets/at-work.jpg" />
      </Hero>
          <section>
            <h2 class="section-title">Parcours</h2>
            <div class="content">
              <p>
                Passionnée par le développement web depuis mes études, j'ai
                acquis des compétences solides en HTML, CSS et JavaScript. J'ai
                développé des interfaces utilisateur attrayantes et réactives en
                utilisant des frameworks populaires tels que React.js. J'ai
                également développé de bonnes compétences en communication et en
                collaboration grâce à mon expérience de travail en équipe sur
                des projets de développement. Je suis constamment en quête
                d'apprentissage et ouverte aux nouvelles technologies pour
                continuer à développer mes compétences.
              </p>
            </div>
          </section>
          <section>
            <h2 class="section-title">Education</h2>
            <div class="content">
              <p>
                J'ai suivi une formation en informatique à l’Ecole Nationale des Sciences Appliquées d’El Jadida où j'ai
                acquis des connaissances approfondies dans divers domaines de
                l'informatique, ce qui a posé les bases solides de ma carrière
                de développeur web(BAC+3)
              </p>
            </div>
          </section>
          <section>
            <h2 class="section-title">Compétences</h2>
            <div class="content">
              <p>
                Avec des compétences techniques  en développement web,
                notamment en HTML, CSS, JavaScript et React.js, je suis capable
                de concevoir des interfaces attrayantes et de développer des
                fonctionnalités interactives. Je suis également douée pour
                résoudre les problèmes et travailler efficacement en équipe
                grâce à mes compétences en communication et en collaboration.
              </p>
            </div>
          </section>
        </div>
      </section>

      <ContactCTA />
    </main>
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
